/*  feedback 3: 
공통적으로 쓰이는 color, size는 변수로 선언
유지보수에도 용이하고 찾기도 쉬움
 */
:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blud: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --base-space: 8px;
  --size-button: 60px;
  --size-border: 4px;
  --button-font-size: 18px;
  --size-thumbnail: 50px;

  /* annimation */
  --annimation-duration: 300ms;
}

body {
  margin-top: 80px;
  /* background: rgb(32, 32, 32); */
  /* 변수 사용 예제 */
  background-color: var(--color-black);
  /* 
    flex박스 사용해보기
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  */
}

div {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

/* hover 효과 주기 */
.logo,
div.category * {
  cursor: pointer;
  transition: transform var(--annimation-duration) ease;
}
.logo:hover,
div.category *:hover {
  transform: scale(1.1);
}

div.category * {
  vertical-align: middle;
  margin: 3px;
  cursor: pointer;

  /* btn 태그를 사용해서 만들었을 경우
    background-color: transparent; (투명하게)
    border: none; (못생기게 남은 border 삭제)
    outline: none; (삭제)
  */
}
div.category img {
  display: inline-block;
  width: 40px;
}
p.color-box {
  padding: calc(var(--base-space) * 1);
  border-radius: var(--size-border);
  display: inline-block;
  font-size: var(--button-font-size);
}
p#blue {
  background-color: var(--color-blud);
}
p#pink {
  background-color: var(--color-pink);
}
p#yellow {
  background-color: var(--color-yellow);
}

#clothes {
  margin-top: 40px;
  width: 60%;
  height: 60%;
}
.item {
  background-color: var(--color-white);
  padding: 5px 20px;
  border-radius: var(--size-border);
  margin-bottom: var(--base-space);
  display: flex;
  align-items: center;
}
.item img {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
}
.item p {
  padding-left: 50px;
}
